<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style
            include ./ass/css/custom.css
        script
            include ./js/custom.js
    body(onload = "message()")
        include ./component/header.pug
        h1 maincontent of the website.
        include ./component/footer.pug  